@import url(../../assets/fonts.css);
@import url(../Commons/Auth.css);


@media screen and (max-width: 480px) {
  .authForm {
    width: 50vw;
  }
  .authHeading {
    font-size: 70px;
  }
  .ant-input {
    font-size: 2vw;
  }

  .ant-input:hover {
    font-size: 2.3vw;
  }
  .ant-input:focus {
    font-size: 2.3vw;
    
  }
  .authIavigate-button {
    font-size: 7px;
  }

  .authNavigate-button:hover {
    font-size: 7.5px;
  }

  .passwordToggleButton {
    font-size: 1.7vw;
    padding: 0;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .authForm {
    width: 40vw;
  }

  .authHeading {
    font-size: 80px;
  }
  .ant-input {
    font-size: 1.5vw;
  }

  .ant-input:hover {
    font-size: 2vw;
  }

  .authNavigateButton {
    font-size: 8px;
  }

  .authNavigateButton:hover {
    font-size: 8.5px;
  }

  .passwordToggleButton {
    font-size: 1.7vw;
    padding: 0;
  }
}
