.messageContainer {
  display: flex;
  flex-direction: row;
}

.messageContainer.right {
  justify-content: right;
}

.message {
  background-color: #d4809a;
  padding: 0.625rem;
  border-radius: 1.5625rem;
  margin-bottom: 0.125rem;
}

.messageContainer.right .message {
  background-color: #ab7384;
}
