.messageContainer {
  display: flex;
  flex-direction: row;
}

.messageContainer.right {
  justify-content: right;
}

.message {
  background-color: #d4809a;
  padding: 1vw;
  border-radius: 25px;
  margin-bottom: 0.2vw;
}

.messageContainer.right .message {
  background-color: #ab7384; /* Different color for right-aligned messages */
}
