.friendContainer {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  background-color: #d4809a;
  border-bottom: 1px solid #fff5d7;
  padding: 0.625rem;
}

.friendContainer.selected {
  background-color: #ab7384;
}

.friendContainer:hover {
  background-color: #ab7384;
  cursor: pointer;
}

.profile {
  background-image: var(--profile-bg);
  background-size: cover;
  width: 1.875rem;
  height: 1.875rem;
}

.friendDetails {
  padding-left: 0.625rem;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
