@import url(../../assets/fonts.css);

.header {
  color: #e195ab;
  background-color: #fff5d7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 7vh;
  position: relative;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "karla";
  font-weight: 750;
}

.profile-section {
  display: flex;
  gap: 0.62rem;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.logout-button {
  width: 6.5rem;
  height: 2rem;
  background-color: #ffcce1;
  color: #e195ab;
  border-color: #e195ab;
  font-family: "inter";
  font-size: 0.9rem;
  font-weight: 600;
}

.logout-button:hover {
  background-color: #e195ab !important;
  color: #fff5d7 !important;
  border-color: #fff5d7 !important;
}

.logout-button-icon {
  display: none;
  color: #e195ab;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-profile {
  background-image: var(--profile-bg);
  background-size: cover;
  width: 2.7rem;
  height: 2.7rem;
}

@media screen and (max-width: 480px) {
  .logout-button {
    display: none;
  }
  .logout-button-icon {
    display: block;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .logout-button {
    width: 5.5rem; /* 9vw converted to rem */
    height: 2rem; /* 4vw converted to rem */
  }
}

@media screen and (max-height: 550px) {
  .header {
    height: 10vh;
  }
}
