@import url(../../assets/fonts.css);

.header {
  color: #e195ab;
  background-color: #fff5d7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  height: 7vh;
  position: relative;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  font-size: 1.7vw;
  left: 50%;
  transform: translateX(-50%);
  font-family: "karla";
  font-weight: 750;
}

.profile-section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.logout-button {
  width: 7vw;
  height: 2vw;
  background-color: #ffcce1;
  color: #e195ab;
  border-color: #e195ab;
  font-family: "inter";
  font-size: 0.9vw;
  font-weight: 600;
}

.logout-button:hover {
  background-color: #e195ab !important;
  color: #fff5d7 !important;
  border-color: #fff5d7 !important;
}

.logout-button-icon {
  display: none;
  color: #e195ab;
  font-size: 5vw;
  font-weight: bold;
}

.profile {
  background-image: white;
  background-size: cover;
  width: 3.3vw;
  height: 3.3vw;
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 4vw;
  }
  .logout-button {
    display: none;
  }
  .logout-button-icon {
    display: block;
    font-size: 17px;
  }
  .profile {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .logo {
    font-size: 2.65vw;
  }

  .logout-button {
    width: 9vw;
    height: 4vw;
    font-size: 1.5vw;
  }
  .profile {
    width: 5vw;
    height: 5vw;
  }
}
