.chatPage {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 7vh);
  background-color: #f2f9ff;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.chatRoom {
  width: 72%;
  margin: 10px;
  max-height: calc(100vh - 9.5vh);
  background-color: #e195ab;
  border-radius: 10px;
}

.chats {
  width: 24%;
  max-height: calc(100vh - 9.5vh);
  margin: 10px;
  border-radius: 10px;
  background-color: #e195ab;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBar {
  width: 90%;
  margin: 10px;
  padding: 0.5rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.searchBar:focus {
  width: 90%;
  margin: 10px;
  padding: 0.5rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-color: white;
}

.friendsContainer {
  width: 90%;
  margin: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: auto;
}
